*.md text eol=lf
*.py text eol=lf
*.fsh text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.png binary
*.jpg binary
*.pdf binary
*.docx binary
*.zip binary
